[flake8]
extend-ignore = E722,W504,E501,Q000,N802,D401,D413
exclude =
    venv
    versions
    __init__.py
    tests
    lib


class-attributes-order=
    docstring,
    nested_class,
    field,
    meta_class,
    expression,
    __new__,
    __init__,
    __post_init__,
    __str__,
    magic_method,
    save,
    delete,
    property_method,
    private_property_method,
    static_method,
    private_static_method,
    class_method,
    private_class_method,
    method,
    private_method